/* global css import */
@import "/css/globals/style.css";

.home-link {
  padding: 2rem;
  a {
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
    font-size: 1.5rem;
  }
}

.about {
  padding: 8rem 0 0 0;
}

/* main content */
.responsive-container-block {
  min-height: 5rem;
  height: fit-content;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 3rem;
  justify-content: flex-start;
}

.text-blk {
  margin: 0;
  padding: 10px;
  line-height: 2rem;
}

.responsive-container-block.bigContainer {
  padding: 0.5rem 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.mainImg {
  color: black;
  width: 55%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 7px;
  border-radius: 10px;
}

.text-blk.headingText {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.allText {
  margin: 0 0px 0 0;
  width: 40%;
}

.text-blk.subHeadingText {
  color: #666;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.text-blk.description {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #666;
  margin-bottom: 3rem;
}

.responsive-container-block.Container {
  margin: 5rem auto 3rem auto;
  max-width: 80rem;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.responsive-container-block.Container.bottomContainer {
  margin: 6rem auto 3rem auto;
  flex-direction: row-reverse;
}

@media (max-width: 1024px) {
  .responsive-container-block.Container {
    max-width: 53rem;
  }

  .mainImg {
    width: 55%;
  }

  .text-blk.description {
    font-size: 1.25rem;
  }

  .allText {
    margin-left: 1.25rem;
  }

  .responsive-container-block.Container.bottomContainer {
    margin: 5rem auto 3rem auto;
  }
}

@media (max-width: 768px) {
  .mainImg {
    width: 90%;
  }

  .allText {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .responsive-container-block.Container {
    flex-direction: column;
    height: auto;
    margin: 5rem auto 3rem auto;
  }

  .text-blk.headingText,
  .text-blk.subHeadingText,
  .text-blk.description {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .responsive-container-block.Container {
    padding: 10px 0;
    width: 100%;
    max-width: 100%;
  }

  .mainImg {
    width: 100%;
  }

  .responsive-container-block.bigContainer {
    padding: 0.5rem 1.5rem;
  }

  .text-blk.subHeadingText,
  .text-blk.description {
    font-size: 1.5rem;
    padding: 0;
  }

  .allText {
    padding: 0;
    width: 100%;
  }
}

