/* global css import */
@import "/css/globals/style.css";

/* header component */
.header {
  width: 100%;
}
.header-container {
  display: flex;
  flex-direction: column;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  border-bottom: 2px solid var(--gray-03);
}
.top-left {
  display: flex;
  align-items: center;
  gap: 3rem;

  & > img {
    display: none;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  & > img {
    width: 2rem;
    height: 2rem;
  }
}
.header-menu {
  display: flex;
  gap: 1.5rem;
  color: var(--gray-01);
  font-weight: var(--font-weight-light);
}
.top-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.header-search {
  position: relative;
  width: 15rem;

  & i {
    position: absolute;
    top: 0.4rem;
    left: 0.5rem;
  }
  & input {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    text-indent: 0.5rem;
    border: 2px solid var(--gray-03);
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1rem;
    font-weight: var(--font-weight-light);
    color: var(--gray-01);
  }
}
.window-search {
  display: none;
}
.header-buttons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.header-bottom {
  padding: 1.2rem;
}
.nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 2rem;
  color: var(--gray-01);
  font-weight: var(--font-weight-light);
}
.nav-item {
}

/* footer component */
.footer {
  width: 100%;
  background: var(--gray-06);
  padding: 3.2rem;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.social-media {
  display: flex;
  gap: 1rem;
}

.gradient-text {
}
.footer-links {
  & ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.footer-newletter {
}
.newsletter-form {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  & input {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: 2px solid var(--gray-03);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: var(--font-weight-light);
    color: var(--gray-01);
  }

  & button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--text-dark);
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s linear;
    border: 2px solid var(--gray-04);
    background: var(--gray-04);
  }
}

.home-link {
  padding: 2rem;
  a {
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
    font-size: 1.5rem;
  }
}

/* main content */
.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 3rem;
  justify-content: flex-start;
}

.text-blk {
  margin: 0;
  padding: 10px;
  line-height: 25px;
}

.responsive-container-block.bigContainer {
  padding: 10px 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainImg {
  color: black;
  width: 55%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 7px;
  border-radius: 10px;
}

.text-blk.headingText {
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  color: #333;
  margin-bottom: 10px;
}

.allText {
  margin: 0 0px 0 0;
  width: 40%;
}

.text-blk.subHeadingText {
  color: #666;
  font-size: 25px;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: 15px;
}

.text-blk.description {
  font-size: 25px;
  line-height: 34px;
  color: #666;
  margin-bottom: 50px;
}

.explore {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  background: var(--primary-color);
  padding: 10px 50px;
  border: outset 0;
  cursor: pointer;
}

.explore:hover {
  background: var(--gradient);
}

.responsive-container-block.Container {
  margin: 80px auto 50px auto;
  max-width: 1320px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.responsive-container-block.Container.bottomContainer {
  margin: 100px auto 50px auto;
  flex-direction: row-reverse;
}

@media (max-width: 1024px) {
  .responsive-container-block.Container {
    max-width: 850px;
  }

  .mainImg {
    width: 55%;
  }

  .text-blk.description {
    font-size: 20px;
  }

  .allText {
    margin-left: 20px;
  }

  .responsive-container-block.Container.bottomContainer {
    margin: 80px auto 50px auto;
  }
}

@media (max-width: 768px) {
  .mainImg {
    width: 90%;
  }

  .allText {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .responsive-container-block.Container {
    flex-direction: column;
    height: auto;
    margin: 80px auto 50px auto;
  }

  .text-blk.headingText,
  .text-blk.subHeadingText,
  .text-blk.description {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .responsive-container-block.Container {
    padding: 10px 0;
    width: 100%;
    max-width: 100%;
  }

  .mainImg {
    width: 100%;
  }

  .responsive-container-block.bigContainer {
    padding: 10px 25px;
  }

  .text-blk.subHeadingText,
  .text-blk.description {
    font-size: 25px;
    padding: 0;
  }

  .allText {
    padding: 0;
    width: 100%;
  }
}

/* header and footer media */
@media screen and (max-width: 1024px) {
  .header-menu {
    display: none;
  }
  .top-left {
    gap: 1rem;
    & > img {
      display: block;
    }
  }
  .hero-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .hero-img {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    padding: 1rem;
  }
  .window-search {
    display: block;
  }
  .header-search {
    align-items: flex-end;
  }
  .header-top {
    padding: 1rem;
  }
  .header-search {
    display: none;
  }
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .footer-socials {
    align-items: center;
  }
  .gradient-button {
    display: none;
  }
  .feature-cards {
    flex-direction: column;
  }
}
@media screen and (max-width: 640px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }
  .footer {
    padding: 2rem;
  }
}
