/* global css import */
@import "/css/globals/style.css";

.home-link {
  padding: 2rem;
  a {
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
    font-size: 1.5rem;
  }
}

/* main content */
.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 3rem;
  justify-content: flex-start;
}

.text-blk {
  margin: 0;
  padding: 10px;
  line-height: 25px;
}

.responsive-container-block.bigContainer {
  padding: 10px 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.mainImg {
  color: black;
  width: 55%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 7px;
  border-radius: 10px;
}

.text-blk.headingText {
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  color: #333;
  margin-bottom: 10px;
}

.allText {
  margin: 0 0px 0 0;
  width: 40%;
}

.text-blk.subHeadingText {
  color: #666;
  font-size: 25px;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: 15px;
}

.text-blk.description {
  font-size: 25px;
  line-height: 34px;
  color: #666;
  margin-bottom: 50px;
}

.responsive-container-block.Container {
  margin: 80px auto 50px auto;
  max-width: 1320px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.responsive-container-block.Container.bottomContainer {
  margin: 100px auto 50px auto;
  flex-direction: row-reverse;
}

@media (max-width: 1024px) {
  .responsive-container-block.Container {
    max-width: 850px;
  }

  .mainImg {
    width: 55%;
  }

  .text-blk.description {
    font-size: 20px;
  }

  .allText {
    margin-left: 20px;
  }

  .responsive-container-block.Container.bottomContainer {
    margin: 80px auto 50px auto;
  }
}

@media (max-width: 768px) {
  .mainImg {
    width: 90%;
  }

  .allText {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .responsive-container-block.Container {
    flex-direction: column;
    height: auto;
    margin: 80px auto 50px auto;
  }

  .text-blk.headingText,
  .text-blk.subHeadingText,
  .text-blk.description {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .responsive-container-block.Container {
    padding: 10px 0;
    width: 100%;
    max-width: 100%;
  }

  .mainImg {
    width: 100%;
  }

  .responsive-container-block.bigContainer {
    padding: 10px 25px;
  }

  .text-blk.subHeadingText,
  .text-blk.description {
    font-size: 25px;
    padding: 0;
  }

  .allText {
    padding: 0;
    width: 100%;
  }
}

/* header and footer media */
@media screen and (max-width: 1024px) {
  .header-menu {
    display: none;
  }
  .top-left {
    gap: 1rem;
    & > img {
      display: block;
    }
  }
  .hero-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .hero-img {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    padding: 1rem;
  }
  .window-search {
    display: block;
  }
  .header-search {
    align-items: flex-end;
  }
  .header-top {
    padding: 1rem;
  }
  .header-search {
    display: none;
  }
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .footer-socials {
    align-items: center;
  }
  .gradient-button {
    display: none;
  }
  .feature-cards {
    flex-direction: column;
  }
}
@media screen and (max-width: 640px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }
  .footer {
    padding: 2rem;
  }
}
