/* global css import */
@import "../css/globals/style.css";

/* custom components */
/* header */
@import "../css/custom/header.css";
/* footer */
@import "../css/custom/footer.css";

/* main content */
.home-link {
  padding: 2rem;
  a {
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
    font-size: 1.5rem;
  }
}
.main {
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.ffbox {
  display: flex;
  background-color: #fff;
  border: 3px solid #e4e4e9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  flex-wrap: wrap;
}

.ffbox1 {
  flex: 1;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ffbox1 label {
  display: block;
  margin-bottom: 8px;
}

.ffbox1 input,
.ffbox1 textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #dcdce1;
  border: none;
}

.ffbox1 textarea {
  resize: vertical;
}

.ffbox1 {
  margin-bottom: 16px;
}

.ffbox1 label {
  margin-right: 16px;
}

.map-div {
  flex: 1;
  background-color: #eee;
}

button {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 15px;
  background: var(--primary-color);

  color: var(--gray-06);
  font-size: 17px;
  font-weight: 700;
  border: #a2c2ee;
  transition: 0.1s all linear;
}

button:hover {
  background: var(--gradient);
}

.map-div iframe {
  border: 0;
  padding: 10px;
}

.gfg {
  text-align: center;
  color: var(--primary-color);
}

.map-div {
  background-color: rgb(152, 178, 234);
}

.window-search {
  display: none;
}

.top-left {
  display: flex;
  align-items: center;
  gap: 3rem;

  & > img {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header-menu {
    display: none;
  }
  .top-left {
    gap: 1rem;
    & > img {
      display: block;
    }
  }
  .hero-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .hero-img {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .ffbox {
    flex-direction: column;
  }
  .window-search {
    display: block;
  }
  .header-search {
    align-items: flex-end;
  }
  .header-top {
    padding: 1rem;
  }
  .header-search {
    display: none;
  }
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .footer-socials {
    align-items: center;
  }
  .gradient-button {
    display: none;
  }
  .feature-cards {
    flex-direction: column;
  }
}
@media screen and (max-width: 640px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }
  .footer {
    padding: 2rem;
  }
}
