/* global css import */
@import "../css/globals/style.css";

/* main content */
.home-link {
  padding: 2rem;
  a {
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
    font-size: 1.5rem;
  }
}

.contact {
  padding: 8rem 0 0 0;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 10rem 2rem;
}
.ffbox {
  display: flex;
  background-color: #fff;
  border: 3px solid #e4e4e9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  width: 62rem;
}

.ffbox1 {
  padding: 20px;
  width: 50%;
}

.ffbox1 label {
  display: block;
  margin-bottom: 0.5rem;
}

.ffbox1 input,
.ffbox1 textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #dcdce1;
  border: none;
}

.ffbox1 textarea {
  resize: vertical;
}

.ffbox1 {
  margin-bottom: 1rem;
}

.ffbox1 label {
  margin-right: 1rem;
}

.map-div {
  flex: 1;
  background-color: #eee;
}

.map-div iframe {
  border: 0;
  height: 100%;
}

.gfg {
  text-align: center;
  margin-bottom: 1rem;
}

.window-search {
  display: none;
}

.top-left {
  display: flex;
  align-items: center;
  gap: 3rem;

  & > img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .ffbox {
    flex-direction: column;
    height: 62rem;
  }
  .ffbox1 {
    width: 100%;;
  }
  .map-div {
    height: 20rem;
  }
  
}
