/* global css import */
@import "/css/globals/style.css";

.workers {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 12rem 0 10rem 0;
}

.workers-container {
    width: 80rem;
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem;
    width: 100%;
}
.workers-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.workers-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 4rem 0;
    align-items: center;
}
.workers-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
}
.workers-card:hover {
    transform: scale(.95);

}
.card-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        color: var(--gray-02);
    }
}

@media screen and (max-width: 1280px) {
    .workers-content {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 1024px) {
    .workers-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .workers-content {
        grid-template-columns: 1fr;
    }
}