/*custom components */
/* custom header */
@import "../custom/header.css";
/* custom footer */
@import "../custom/footer.css";

/* variables */
:root {
  /* font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* status colors */
  --success-color: #48bb78;
  --error-color: #f56565;

  /* gradient */
  --gradient: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 79, 223, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );

  /* gray colors */
  --gray-01: #5e5e6d;
  --gray-02: #979aaa;
  --gray-03: #bebecc;
  --gray-04: #d5d5e0;
  --gray-05: #e4e4eb;
  --gray-06: #f2f2f7;
  --gray-07: #f7f7fa;

  /* themes */
  --bg-light: #f7fafc;
  --bg-dark: #1a202c;
  --bg-darker: #171923; 
  --text-light: #1a202c;
  --text-dark: #f7fafc;
  --primary-color: #25d5f8;
}

body {
  transition: all 0.1s ease-in-out;
  font-family: "Roboto", sans-serif;
  color: var(--text-light);
}

iframe {
  border: none;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* spacing extension */
.p-7 {
  padding: 5rem;
}
.py-7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.px-7 {
  padding-left: 5rem;
  padding-right: 5rem;
}
.pt-7 {
  padding-top: 5rem;
}
.pb-7 {
  padding-bottom: 5rem;
}

.pt-8 {
  padding-top: 7.5rem;
}

.pt-10 {
  padding-top: 10rem;
}

/* custom classes */
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  & > img {
    width: 2rem;
    height: 2rem;
  }
}
.gradient {
  background: var(--gradient);
}
.gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--text-dark);
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.1s linear;
  background: var(--primary-color);
}
.gradient-button:hover {
  background: var(--gradient);
}

.closed {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}
.active {
  width: 10px;
  height: 10px;
  background-color: greenyellow;
  border-radius: 50%;
}

/* dark theme */
.dark-theme {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}
/* default theme */
/* @media (prefers-color-scheme: dark) {
  body {
      background: var(--bg-dark);
      color: var(--text-dark);
  }

  .card-instruction {
    background: var(--bg-darker);
  }

  .card-testimonials {
    background: var(--bg-darker);
  }

  .accordion-button {
    background-color: var(--bg-darker);
    color: var(--text-dark);
  }
} */

