.navbar {
  background: var(--gray-06);
}
.dropdown-menu {
  background: var(--gray-04);
}
.nav-item a {
  color: var(--text-light);
}
.nav-item a:hover {
  color: var(--bg-darker);
}

.dark-theme {
  .navbar {
    background: var(--bg-darker);
  }
  .dropdown-menu {
    background: var(--bg-dark);
  }
  .dropdown-item {
    color: var(--text-dark);
  }
  .dropdown-item:hover {
    background: var(--gray-02);
  }
  .nav-item a {
    color: var(--text-dark);
  }
  .nav-item a:hover {
    color: var(--gray-04);
  }
}

/* navbar theme styles */
/* @media (prefers-color-scheme: dark) {
  .navbar {
     background: var(--bg-darker);
  }
  .dropdown-menu {
    background: var(--bg-dark);
  }
  .dropdown-item {
    color: var(--text-dark);
  }
  .dropdown-item:hover {
    background: var(--gray-02);
  }
  .nav-item a {
    color: var(--text-dark);
  }
  .nav-item a:hover {
    color: var(--gray-04);
  }
} */
