/* import font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/* variables */
:root {
  /* font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* status colors */
  --success-color: #48bb78;
  --error-color: #f56565;

  /* themes */
  --background-light: #f7fafc;
  --text-light: #1a202c;
  --background-dark: #1a202c;
  --text-dark: #f7fafc;
  --primary-logo: ;
}

/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--light-background);
  color: var(--light-text);
}
