/* import font */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"); */

/*custom components */
/* custom header */
/*@import "/css/custom/header.css"; */
/* custom footer */
/* @import "/css/custom/footer.css";  */

/* css reset */
/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
} */

/* variables */
:root {
  /* font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* status colors */
  --success-color: #48bb78;
  --error-color: #f56565;

  /* gradient */
  --gradient: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 79, 223, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );

  /* gray colors */
  --gray-01: #5e5e6d;
  --gray-02: #979aaa;
  --gray-03: #bebecc;
  --gray-04: #d5d5e0;
  --gray-05: #e4e4eb;
  --gray-06: #f2f2f7;
  --gray-07: #f7f7fa;

  /* themes */
  --background-light: #f7fafc;
  --text-light: #1a202c;
  --background-dark: #1a202c;
  --text-dark: #f7fafc;
  --primary-color: #25d5f8;
}

body {
  transition: all 0.1s ease-in-out;
  font-family: "Roboto", sans-serif;
  color: var(--text-light);
}

iframe {
  border: none;
  width: 100%;
}

/* theme */
/* @media (prefers-color-scheme: dark) {
  body {
      background-color: #333;
      color: #fff;
  }
} */


/* dark mode */
.dark-theme {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.dark-theme {
  background-color: var(--background-dark);
  color: var(--text-dark);
}



/* spacing extension */
.p-7 {
  padding: 7rem;
}
.py-7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.px-7 {
  padding-left: 7rem;
  padding-right: 7rem;
}
.pt-7 {
  padding-top: 7rem;
}
.pb-7 {
  padding-bottom: 7rem;
}

.pt-10 {
  padding-top: 10rem;
}

/* custom components */
.footer {
  width: 100%;
  background: var(--gray-06);
  padding: 3.2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  & > img {
    width: 2rem;
    height: 2rem;
  }
}

.gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--text-dark);
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.1s linear;
  background: var(--primary-color);
}
.gradient-button:hover {
  background: var(--gradient);
}
