/* global css import */
@import "./globals/style.css";

/* main content */
.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-instruction {
  background: var(--gray-06);
}
.card-testimonials {
  background: var(--gray-06);
} 

.accordion-button {
  background: var(--gray-06);
  color: var(--text-light);
}
.accordion-body {
  background: var(--gray-07);
}

/* dark theme */
.dark-theme {

  .card-instruction {
    background: var(--bg-darker);
  }

  .card-testimonials {
    background: var(--bg-darker);
  }

  .accordion-button {
    background: var(--bg-darker);
    color: var(--text-dark);
  }
  .accordion-body {
    background: var(--bg-dark);
    color: var(--text-dark);
  }

}
